:root {
    --height-nav: 7.2rem;
    font-size: 62.5%; /* 1rem = 10 px */
    
    /*usar variavéis(--variavel) no css quando utilizar hsl para alterar a paleta de cores de maneira facilitada*/
    /*paleta de cores monocromaticas ou paleta de cores diversas usar hsl(hue (cor), saturation (saturação), lightness (brilho));*/

    /*Light Mode*/
    --primary-color: #803e00;
    --secondary-color: #ff8c00;
    --paragraph-color: #000000;
    --before-color: #f4e5d7;
    --stats-color: #fffaf0;
    --card-color: #f4e5d7;
    --button-color: #009980;
    --button-hover-color: #004d40;

    /*Dark Mode*/
    --primary-color: #ff8c00;
    --paragraph-color: #e6e6e6;
    --before-color: #1a1a1a;
    --stats-color: #545454;
    --card-color: #333333;
    --button-color: #009980;
    --button-hover-color: #004d40;

}

/*GERAL*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    max-width: 100%;
    height: 100%;
    scroll-behavior: smooth;
    transition: 3s ease;
}

body {
    font-family: 'DM Sans';
    font-size: 1.6rem;
    text-align: center;
    overflow: overlay;
    background-color: var(--before-color);
}

.wrapper {
    width: min(50rem, 100%);
    margin-inline: auto;
    padding-inline: 2.4rem;
}

img {
    max-width: 100%;
    width: min(50rem, 100%);
}

a {
    text-decoration: none;
}

section {
    padding-block: 10rem;
}

/*NAV*/
nav {
    display: flex;
    height: var(--height-nav);
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 100;
}

div.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav.scroll {
    background-color: var(--primary-color);
}

nav.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 21rem;
    height: 21rem;
}

nav button path {
    stroke: var(--primary-color);
    transition: stroke 300ms;
}

nav.scroll button path {
    stroke: white;
    transition: stroke 300ms;
}

nav button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
}

nav.logo button {
    margin-top: var(--height-nav);
}


/*nav.menu,
nav.wrapper .menu #close-menu {
    position: fixed;
}*/

/*MENU EXPANDED*/
body.menu-expanded {
    overflow: hidden;
}

body.menu-expanded >:not(nav) {
    visibility: hidden;
}

.menu,
#close-menu,
body.menu-expanded #open-menu {
    opacity: 0;
    visibility: hidden;
    position: fixed;
}

body.menu-expanded .menu,
body.menu-expanded #close-menu {
    opacity: 1;
    visibility: visible;
}

.menu {
    transform: translateY(100%);
    position: fixed;
}

body.menu-expanded .menu {
    top: 0;
    left: 0;
    background-color: var(--primary-color);
    width: 100vw;
    height: 100vh;
    padding-top: var(--height-nav);
    transition: transform 300ms;
    transform: translateY(0);
}

.menu ul:nth-child(1) {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
    margin-top: 6rem;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.1rem;
}

.menu ul li a {
    color: #e6e6e6;
    text-decoration: none;
    transition: background 300ms;
}

.menu ul li a:hover {
    text-shadow: 0.1em 0.1em 0.6em hsla(33, 100%, 50%, 0.75);
}

.social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-top: 6rem;
    gap: 3.2rem;
}

.social-facebook svg {
    width: 2.5rem;
    height: 2.5rem;
}

ul li .social-facebook svg:hover {
    transform:scale(1.5);
    transition: transform ease-in-out 300ms;
}

.social-instagram svg {
    width: 2.5rem;
    height: 2.5rem;
}

ul li .social-instagram svg:hover {
    transform:scale(1.5);
    transition: transform ease-in-out 300ms;
}

.social-whatsapp svg {
    width: 2.5rem;
    height: 2.5rem;
}

ul li .social-whatsapp svg:hover {
    transform:scale(1.5);
    transition: transform ease-in-out 300ms;
}

body.menu-expanded .logo,
body.menu-expanded button {
    position: relative;
    z-index: 100;
}

body.menu-expanded button path {
    stroke: white;
}

/*MENU EXPANDED BOTÃO LIGHT MODE/DARK MODE*/
input {
    visibility: hidden;
}

label {
    width: 5.2rem;
    height: 2.7rem;
    border-radius: 10rem;
    position: relative;
    float: right;
    text-indent: -9999rem;
    background-color: gray;
    cursor: pointer;
}

label::after {
    content: '';
    width: 2rem;
    height: 2rem;
    border-radius: 9rem;
    position: absolute;
    top: 0.2rem;
    left: 0.2rem;
    background-color: white;
    transition: 300ms;
}

input:checked + label {
    background-color: blue;
}

input:checked + label::after {
    left: calc(100% - 0.5rem);
    transform: translateX(-100%);
}

label:active::after {
    width: 4rem;
}

/*HOME*/
#home {
    padding-top: calc(4.1rem + var(--height-nav));
}

#home::before {
    content: "";
    width: 100%;
    height: calc(108rem+var(--height-nav));
    background-color: var(--before-color);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#home h3 {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.08rem;
    color: var(--secondary-color);
    text-transform: uppercase;
    margin-bottom: 1.6rem;
}

#home h1 {
    font-size: 3.4rem;
    color: var(--primary-color);
    line-height: 130%;
    margin-bottom: 2.4rem;
}

#home .content p {
    font-size: 1.8rem;
    line-height: 150%;
    font-weight: 400;
    color: var(--paragraph-color);
    margin-bottom: 3.2rem;
}

#home .content img {
    width: 70%;
}

/*SOBRE*/
#sobre .stats {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding-block: 4rem;
    margin-inline: auto;
    background-color: var(--stats-color); 
    border-radius: 0.6rem;
    gap: 6rem;
}

#sobre .stat {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#sobre .stat h3 {
    font-size: 4.8rem;
    color: var(--primary-color); 
    line-height: 130%;
    margin-bottom: 0.4rem;
}

#sobre .stat p {
    margin: 0;
    color: var(--paragraph-color);
    line-height: 150%;
}

/*CARDAPIO*/
#cardapio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#cardapio .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#cardapio header h3 {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.08rem;
    color: var(--secondary-color);
    text-transform: uppercase;
    margin-bottom: 1.6rem;
}

#cardapio header h2 {
    font-size: 3rem;
    line-height: 3.9rem;
    color: var(--paragraph-color);
    margin-bottom: 6rem;
}

#cardapio .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.2rem;
    margin-inline: 2rem;
}

#cardapio .card {
    padding: 2.4rem;
    text-align: left;
    background: white;
    border: 1px solid var(--stats-color);
    box-sizing: border-box;
    border-radius: 0.6rem;
    background-color: var(--before-color);
    cursor: pointer;
    transition: 300ms ease-in-out;
}

#cardapio .content h3 {
    font-size: 1.8rem;
    line-height: 150%;
    font-weight: 700;
    color: var(--paragraph-color);
    text-transform: uppercase;
}

#cardapio .content p {
    font-size: 1.6rem;
    line-height: 150%;
    font-weight: 400;
    color: var(--paragraph-color);
}

#cardapio .whatsapp {
    width: 26.3rem;
    height: 6.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 4rem;
    margin-block: 6rem;
    margin-inline: auto;    
    background-color: var(--button-color);
    color: white;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    gap: 1.6rem;
    cursor: pointer;
    transition: background 300ms;
}

.whatsapp:hover {
    background-color: var(--button-hover-color);
}

/*DEPOIMENTOS*/
#depoimentos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#depoimentos .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#depoimentos header h3 {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.08rem;
    color: var(--secondary-color);
    text-transform: uppercase;
    margin-bottom: 1.6rem;
}

#depoimentos header h2 {
    font-size: 3rem;
    line-height: 3.9rem;
    color: var(--paragraph-color);
    margin-bottom: 6rem;
}

#depoimentos .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#depoimentos .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.2rem;
    margin-inline: 2rem;
}

#depoimentos .card {
    align-items: center;
    padding: 2.4rem;
    text-align: left;
    background: white;
    border: 1px solid var(--stats-color);
    box-sizing: border-box;
    border-radius: 0.6rem;
    background-color: var(--before-color);
    cursor: pointer;
    gap: 0.8rem;
    transition: 300ms ease-in-out;
}

#depoimentos .card svg {
    width: 2.4rem;
    height: 2.4rem;
    gap: 1rem;
}

#depoimentos .content h3 {
    font-size: 1.8rem;
    line-height: 150%;
    font-weight: 700;
    color: var(--paragraph-color);
    text-transform: uppercase;
    gap: 1rem;
}

#depoimentos .content p {
    font-size: 1.6rem;
    line-height: 150%;
    font-weight: 400;
    color: var(--paragraph-color);
}

/*CONTATO*/
#contato {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contato .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
} 

#contato header h3 {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.08rem;
    color: var(--secondary-color);
    text-transform: uppercase;
    margin-bottom: 1.6rem;
}

#contato header h2 {
    font-size: 3rem;
    line-height: 3.9rem;
    color: var(--paragraph-color);
    margin-bottom: 6rem;
}

#contato ul {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

#contato ul li {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    color: var(--paragraph-color);
}

#contato ul li path {
    stroke: var(--secondary-color);
}

#contato .whatsapp {
    width: 26.3rem;
    height: 6.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 4rem;
    margin-block: 6rem;
    margin-inline: auto;    
    background-color: var(--button-color);
    color: white;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    gap: 1.6rem;
    cursor: pointer;
    transition: background 300ms;
}

#contato .whatsapp:hover {
    background-color: var(--button-hover-color);
}

#contato .map {
    width: 70%;
    margin-block: 3rem;
}

/*FAQ*/
#faq {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#faq .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
} 

#faq header h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.08rem;
    color: var(--secondary-color);
    text-transform: uppercase;
    margin-bottom: 1.6rem;
}

#faq header h2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    line-height: 3.9rem;
    color: var(--paragraph-color);
    margin-bottom: 6rem;
}

#faq .cards {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    margin-inline: 2rem;
}

#faq .card {
    padding: 2.4rem;
    text-align: left;
    background: white;
    border: 1px solid var(--stats-color);
    box-sizing: border-box;
    border-radius: 0. 6rem;
    background-color: var(--before-color);
    cursor: pointer;
}

#faq .questao {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: visible;
}

#faq .questao h4 {
    font-size: 1.8rem;
    line-height: 150%;
    font-weight: 700;
    color: var(--paragraph-color);
}

#faq svg {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    transform: rotate(180deg);
    transition: transform 700ms ease-in;
}

#faq .resposta {
    max-height: 0;
    overflow: hidden;
    transition: max-height 700ms ease;
}

#faq .resposta p {
    padding-top: 1rem;
    font-size: 1.6rem;
    line-height: 150%;
    font-weight: 400;
    color: var(--paragraph-color);
}

#faq .card.active .resposta {
    max-height: 30rem;
    animation: fade 400ms ease-in-out;
}

#faq .card.active svg {
    transform: rotate(0deg);
    transition: transform 700ms ease-in;
}

@keyframes fade {
    from {
        opacity: 0;
        transform: translateY(-1rem);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

/*FOOTER*/
footer {
    text-align: center;
    background-color: var(--primary-color);
    color: white;
    padding-block: 6rem;
}

/*RESPONSIVO*/
@media (min-width: 1024px) {

    /*GERAL*/
    body {
        overflow: auto;
    }

    .wrapper {
        width: min(112rem, 100%);
        margin-inline: auto;
        padding-inline: 2.4rem;
    }

    .col-a {
        grid-area: A;
    }

    .col-b {
        grid-area: B;
    }

    section {
        padding-block: 16rem;
    }

    /*RESET NAV*/
    nav#navigation .wrapper * {
        margin: 0;
        padding: 0;
        visibility: initial;
        display: initial;
        opacity: initial;
        flex-direction: initial;
        position: initial;
        font-size: initial;
        font-weight: initial;
        transform: initial;
        color: initial;
        background-color: initial;
    }

    /*NAV*/
    nav#navigation #close-menu,
    nav#navigation #open-menu,
    nav#navigation .social-links {
        display: none;
    }

    nav#navigation .menu {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 60%;   
    }

    nav#navigation .menu ul:nth-child(1) {
        display: flex;
        gap: 3.2rem;
    }

    nav#navigation .menu ul li a {
        font-size: 1.6rem;
        font-weight: 400;
        line-height: 2.1rem;
        color: var(--primary-color);
        opacity: 0.8;
    }

    nav#navigation.scroll .menu ul li a {
        color: white;
        opacity: 0.8;
    }

    nav#navigation .menu li a {
        transform: opacity 700ms;
    }

    nav#navigation.scroll .menu li a {
        transform: opacity 700ms;
    }
    
    nav#navigation .menu li a.active,
    nav#navigation .menu li a:hover {
        opacity: 1;
        font-weight: 700;
    }

    nav#navigation .menu li a::after {
        content: "";
        width: 0%;
        height: 0.2rem;
        background-color: var(--primary-color);
        position: relative;
        display: block;
       
        left: -0.5rem;
        transform: width 700ms;
    }

    nav#navigation .menu li a.active::after,
    nav#navigation .menu li a:hover::after {
        padding-inline: 0.8rem;
        width: 100%;
    }

    nav#navigation.scroll .menu li a::after {
        content: "";
        background-color: white;
    }

    nav#navigation.scroll .menu li a.active,
    nav#navigation.scroll .menu li a:hover {
        opacity: 1;
    }

    /*MENU FIXO BOTÃO LIGHT MODE/DARK MODE*/
    input {
        visibility: hidden;
    }
    
    label {
        width: 5.2rem;
        height: 2.7rem;
        border-radius: 10rem;
        position: relative;
        float: right;
        text-indent: -9999rem;
        background-color: gray;
        cursor: pointer;
    }
    
    label::after {
        content: '';
        width: 2rem;
        height: 2rem;
        border-radius: 9rem;
        position: absolute;
        top: 0.2rem;
        left: 0.2rem;
        background-color: white;
        transition: 300ms;
    }
    
    input:checked + label {
        background-color: blue;
    }
    
    input:checked + label::after {
        left: calc(100% - 0.5rem);
        transform: translateX(-100%);
    }
    
    label:active::after {
        width: 4rem;
    }

    /*HOME*/
    #home::before {
        height: calc(96% - var(--height-nav));
    }
    
    #home {
        padding-top: var(--height-nav);
        grid-template-columns: 60.5rem 1fr;
        grid-area: 
        'A B'
        'C C';
    }

    #home h3 {
        font-size: 1.6rem;
    }

    #home h1 {
        font-size: 3.8rem;
    }

    #home .content p {
        font-size: 1.8rem;
    }

    #home .content img {
        width: 55%;
    }

    /*SOBRE*/
    #sobre .stats {
        width: 100%;
        grid-area: C;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 6rem;
        gap: 4rem;
    }

    #sobre .stats .stat + .stat {
        border-left: 0.1rem solid var(--primary-color);
        flex: 1;
        padding: 2rem;
    }

    /*CARDAPIO*/
    #cardapio .cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 4rem;
        margin-inline: 4rem;
    }

    #cardapio .card {
        width: 40%;
        flex-grow: 1;
    }

    #cardapio .card:hover {
        width: 45%;
        height: 40%;
        transform: scale(1.5);
    }

   #cardapio  .whatsapp {
        width: 26.3rem;
        height: 6.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        border-radius: 4rem;
        margin-block: 6rem;
        margin-inline: auto;    
        background-color: var(--button-color);
        color: white;
        font-size: 1.4rem;
        font-weight: 700;
        text-transform: uppercase;
        gap: 1.6rem;
        cursor: pointer;
        transition: background 300ms;
    }
    
    #cardapio .whatsapp:hover {
        background-color: var(--button-hover-color);
    }

    /*DEPOIMENTOS*/
    #depoimentos .cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 4rem;
        margin-inline: 4rem;
    }

    #depoimentos .card {
        width: 30%;
        flex-grow: 1;
    }

    #depoimentos .card:hover {
        width: 25%;
        height: 20%;
        transform: scale(1.5);
    }

    /*CONTATOS*/
    #contato .whatsapp {
        width: 26.3rem;
        height: 6.2rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border: none;
        border-radius: 4rem;
        margin-block: 6rem;
        margin-inline: auto;    
        background-color: var(--button-color);
        color: white;
        font-size: 1.4rem;
        font-weight: 700;
        text-transform: uppercase;
        gap: 1.6rem;
        cursor: pointer;
        transition: background 300ms;
    }
    
    #contato .whatsapp:hover {
        background-color: var(--button-hover-color);
    }

}