:root {
    /*usar variavéis(--variavel) no css quando utilizar hsl para alterar a paleta de cores de maneira facilitada*/
    /*paleta de cores monocromaticas ou paleta de cores diversas usar hsl(hue (cor), saturation (saturação), lightness(brilho));*/
    --primary-color: hsl(29, 100%, 25%);
    --secondary-color: hsl(33, 100%, 50%);
    --paragraph-color: hsl(0, 100%, 0%);
    --stats-color: hsl(39, 100%, 97%);
    --before-color: hsl(29, 55%, 90%);
    --button-color: hsl(170, 100%, 30%);
    --button-hover-color: hsl(170, 100%, 15%);
    --height-nav: 7.2rem;
    font-size: 62.5%; /* 1rem = 10 px */
}

/*GERAL*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
    transition: 3s ease;
}

html,
body {
    width: 100%;
    height: 100%;
}

body {
    font-family: 'DM Sans';
    font-size: 1.6rem;
    text-align: center;
    overflow: overlay;
    background-color: var(--before-color);
}

.wrapper {
    width: 37.5rem;
    margin-inline: auto;
    padding-inline: 2.4rem;
}

img {
    max-width: 100%;
}

a {
    text-decoration: none;
}

section {
    padding-block: 10rem;
}

/*NAV*/
nav {
    display: flex;
    height: var(--height-nav);
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 100;
}

div.wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav.scroll {
    background-color: var(--primary-color);
}

nav button path {
    stroke: var(--primary-color);
}

nav.scroll button path {
    stroke: white;
}

nav button {
    background: none;
    border: none;
    cursor: pointer;
    margin-top: var(--height-nav);
}

/*MENU EXPANDED*/
body.menu-expanded {
    overflow: hidden;
}

body.menu-expanded > :not(nav) {
    visibility: hidden;
}

.menu,
#close-menu,
body.menu-expanded #open-menu {
    opacity: 0;
    visibility: hidden;
}

body.menu-expanded .menu,
body.menu-expanded #close-menu {
    opacity: 1;
    visibility: visible;
}

.menu {
    transform: translateY(100%);
}

body.menu-expanded .menu {
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--primary-color);
    width: 100vw;
    height: 100vh;
    padding-top: var(--height-nav);
    transition: transform 300ms;
    transform: translateY(0);
}

.menu ul:nth-child(1) {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 4.8rem;
    margin-top: 6rem;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 3.1rem;
}

.menu ul li a {
    color: white;
    text-decoration: none;
    transition: background 300ms;
}

.menu ul li a:hover {
    text-shadow: 0.1em 0.1em 0.6em hsla(33, 100%, 50%, 0.75);
}

.social-links {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    margin-top: 6rem;
    gap: 3.2rem;
}

.social-facebook svg {
    width: 2.5rem;
    height: 2.5rem;
}

ul li .social-facebook svg:hover {
    transform:scale(1.5);
    transition: transform 300ms;
}

.social-instagram svg {
    width: 2.5rem;
    height: 2.5rem;
}

ul li .social-instagram svg:hover {
    transform:scale(1.5);
    transition: transform 300ms;
}

.social-whatsapp svg {
    width: 2.5rem;
    height: 2.5rem;
}

ul li .social-whatsapp svg:hover {
    transform:scale(1.5);
    transition: transform 300ms;
}

body.menu-expanded .logo,
body.menu-expanded button {
    position: relative;
    z-index: 100;
}

body.menu-expanded .logo path {
    fill: white;
}

body.menu-expanded button path {
    stroke: white;
}

/*HOME*/
#home {
    padding-top: calc(4.1rem + var(--height-nav));
}

#home::before {
    content: "";
    width: 100%;
    height: calc(108rem + var(--height-nav));
    background-color: var(--before-color);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

#home h3 {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.08rem;
    color: var(--secondary-color);
    text-transform: uppercase;
    margin-bottom: 1.6rem;
}

#home h1 {
    font-size: 3.4rem;
    color: var(--primary-color);
    line-height: 130%;
    margin-bottom: 2.4rem;
}

#home .content p {
    font-size: 1.8rem;
    line-height: 150%;
    font-weight: 400;
    color: var(--paragraph-color);
    margin-bottom: 3.2rem;
}

#home img {
    width: 26.4rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    object-position: 0.2rem;
}

/*SOBRE*/
#sobre .stats {
    width: 32.7rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--stats-color); 
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6rem;
}

#sobre .stat h3 {
    font-size: 4.8rem;
    color: var(--primary-color); 
    line-height: 130%;
    margin-bottom: 0.4rem;
}

#sobre .stat p {
    margin: 0;
    color: var(--paragraph-color);
    line-height: 150%;
}

/*CARDAPIO*/
#cardapio header h3 {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.08rem;
    color: var(--secondary-color);
    text-transform: uppercase;
    margin-bottom: 1.6rem;
}

#cardapio header h2 {
    font-size: 3rem;
    line-height: 3.9rem;
    color: var(--paragraph-color);
    margin-bottom: 6rem;
}

#cardapio .cards {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

#cardapio .card {
    padding: 2.4rem;
    text-align: left;
    background: white;
    border: 1px solid var(--stats-color);
    box-sizing: border-box;
    border-radius: 0. 6rem;
    background-color: var(--before-color);
}

#cardapio .content h3 {
    font-size: 1.8rem;
    line-height: 150%;
    font-weight: 700;
    color: var(--paragraph-color);
    text-transform: uppercase;
}

#cardapio .content p {
    font-size: 1.6rem;
    line-height: 150%;
    font-weight: 400;
    color: var(--paragraph-color);
}

#cardapio .whatsapp {
    background-color: var(--button-color);
    border: none;
    height: 6.2rem;
    width: 26.3rem;
    border-radius: 4rem;
    margin-top: 6rem;
    margin-bottom: 6rem;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
    cursor: pointer;
    transition: background 300ms;
}

.whatsapp:hover {
    background-color: var(--button-hover-color);
}

/*DEPOIMENTOS*/
#depoimentos header h3 {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.08rem;
    color: var(--secondary-color);
    text-transform: uppercase;
    margin-bottom: 1.6rem;
}

#depoimentos header h2 {
    font-size: 3rem;
    line-height: 3.9rem;
    color: var(--paragraph-color);
    margin-bottom: 6rem;
}

#depoimentos .cards {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

#depoimentos .card {
    padding: 2.4rem;
    text-align: left;
    background: white;
    border: 1px solid var(--stats-color);
    box-sizing: border-box;
    border-radius: 0. 6rem;
    background-color: var(--before-color);
}

#depoimentos .content h3 {
    font-size: 1.8rem;
    line-height: 150%;
    font-weight: 700;
    color: var(--paragraph-color);
    text-transform: uppercase;
}

#depoimentos .content p {
    font-size: 1.6rem;
    line-height: 150%;
    font-weight: 400;
    color: var(--paragraph-color);
}

/*CONTATO*/
#contato {
    text-align: left;
}

#contato header h3 {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.08rem;
    color: var(--secondary-color);
    text-transform: uppercase;
    margin-bottom: 1.6rem;
}

#contato header h2 {
    font-size: 3rem;
    line-height: 3.9rem;
    color: var(--paragraph-color);
    margin-bottom: 6rem;
}

#contato ul {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
}

#contato ul li {
    display: flex;
    align-items: center;
    gap: 0.8rem;
}

#contato ul li path {
    stroke: var(--secondary-color);
}

#contato .whatsapp {
    background-color: var(--button-color);
    border: none;
    border-radius: 4rem;
    margin-top: 6rem;
    margin-bottom: 6rem;
    height: 6.2rem;
    width: 26.3rem;
    color: white;
    font-size: 1.4rem;
    font-weight: 700;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    transition: background 300ms;
}

#contato .whatsapp:hover {
    background-color: var(--button-hover-color);
}

/*FAQ*/
#faq {
    cursor: pointer;
}

#faq header h3 {
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.08rem;
    color: var(--secondary-color);
    text-transform: uppercase;
    margin-bottom: 1.6rem;
}

#faq header h2 {
    font-size: 3rem;
    line-height: 3.9rem;
    color: var(--paragraph-color);
    margin-bottom: 6rem;
}

#faq .cards {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

#faq .card {
    padding: 2.4rem;
    text-align: left;
    background: white;
    border: 1px solid var(--stats-color);
    box-sizing: border-box;
    border-radius: 0. 6rem;
    background-color: var(--before-color);
}

#faq .questao {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#faq .questao h4 {
    font-size: 1.8rem;
    line-height: 150%;
    font-weight: 700;
    color: var(--paragraph-color);
}

#faq svg {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.resposta p {
    padding-top: 1rem;
    font-size: 1.6rem;
    line-height: 150%;
    font-weight: 400;
    color: var(--paragraph-color);
}

.resposta {
    overflow: hidden;
}


/*FOOTER*/
footer {
    background-color: var(--primary-color);
    color: white;
    padding-block: 6rem;
}
